<!DOCTYPE html>
<html>
<head>
  <title>Pepsi</title>
  <%= stylesheet_link_tag    "pepsi/application", :media => "all" %>
  <%= javascript_include_tag "pepsi/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
