<!DOCTYPE html>
<html>
<head>
  <title>BurgerKing</title>
  <%= stylesheet_link_tag    "burger_king/application", :media => "all" %>
  <%= javascript_include_tag "burger_king/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
